@page
@model ToDoListApp.Pages.ListModels.AddItemModel
@{
    string testQueryStringID = null;
    if (Request.Query.ContainsKey("Id"))
    {
        testQueryStringID = Request.Query["Id"].ToString();
    }
    else
    {
        testQueryStringID = "missing Id";

    }
}



<form method="post">
    <div class="form-group">
        <label for="Items.ITEM">Item</label>
        <input type="text" class="form-control" asp-for="Items.ITEM">
        <input type="hidden" asp-for="Items.LIST_ID" value="@testQueryStringID" />
        <span asp-validation-for="Items.ITEM"></span>
    </div>

    <div class="btn-group">
        <div>
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="submit">Add item</button>
        </div>
        <div>
            <a class="btn btn-outline-info" href="Edit?Id=@testQueryStringID">Back</a>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }    
}