@page
@model ToDoListApp.Pages.ListModels.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="form-group">
        <label for="ToDoList.NAME">Name</label>
        <input type="text" id="name" class="form-control" asp-for="ToDoList.NAME">
        <span class="text-danger" id="message"></span>
    </div>
   
    <div class="btn-group">
        <button type="submit" id="bttn" class="btn btn-outline-primary" asp-page-handler="submit">Submit</button>
    </div>
</form>


<script type="text/javascript">
    var input = document.getElementById('name');
    var button = document.getElementById('bttn');
    var alert = document.getElementById('message');
    var regex = /[`!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;

    button.onclick = test;

    function test() {
        var text = input.value;
        if (text.trim() != "") {
            var isValid = regex.test(text);
            if (!isValid) {
                alert.removeAttribute('class');
                alert.innerHTML = "Saving..."
            }
            else {
                alert.innerHTML = "* Input is invalid! Try again!";
                event.preventDefault();
            }
        }
        else {
            alert.innerHTML = "* Input is invalid! Try again!";
            event.preventDefault();
        }
    }
</script>