@page
@model ToDoListApp.Pages.ListModels.EditModel
@{

    string testQueryStringID = null;
    if (Request.Query.ContainsKey("Id"))
    {
        testQueryStringID = Request.Query["Id"].ToString();
    }
    else
    {
        testQueryStringID = "missing Id";

    }

    

}



<style>
    .sample-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 18rem;
        box-shadow: 7px 1rem 1rem 1px rgb(0 0 0 / 28%);
        border: 1px solid #dadada;
        border-radius: 4px;
    }
</style>





<div class="container">
    <div class="sample-box ">
        The Id from the Query String is :
        <h3>
            @testQueryStringID
        </h3>
    </div>
</div>

<br />
<br />
<br />
<div class="border backgroundwhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">List Items</h2>
        </div>
    </div>
    <br />
    <div>
        @if (Model.ArrayItems.Count == 0)
        {
            <p>No lists exist. Please create a new one.</p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label>Id</label>
                    </th>
                    <th>
                        <label>Item</label>
                    </th>
                </tr>
                @foreach (var item in Model.ArrayItems)
                {
                    <tr>
                        <td>
                            @item.ITEM_ID
                        </td>
                        <td>
                            @item.ITEM
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>