@page
@model ToDoListApp.Pages.ListModels.ViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-dark">View List</h2>
<br />
<form method="post">

</form>