@page
@model ToDoListApp.Pages.ListModels.ViewModel
@{
    string testQueryStringID = null;
    if (Request.Query.ContainsKey("Id"))
    {
        testQueryStringID = Request.Query["Id"].ToString();
    }
    else
    {
        testQueryStringID = "missing Id";

    }

    Boolean itemInArrayItems = true;
    foreach (var item in Model.ArrayItems)
    {
        if (item.LIST_ID == Int32.Parse(testQueryStringID))
        {
            itemInArrayItems = false;
        }
    }
}

<br />
<br />
<div class="border backgroundwhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">@Model.ToDoList.NAME</h2>
        </div>
    </div>
    <br />
    <div>
        @if (itemInArrayItems)
        {
            <div class="border-info">
                <div class="col-6">
                    <h5 class="text">No items exist. Please add new items.</h5>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <a href="Edit?Id=@Model.ToDoList.LIST_ID.ToString()" class="btn btn-outline-success">Add item</a>
                </div>
            </div>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <!--<th>
                        <label>Id</label>
                    </th>-->
                    <th>
                        <label>Item</label>
                    </th>
                </tr>
                @foreach (var item in Model.ArrayItems)
                {
                    <tr>
                        <!---->
                        <td>
                            @item.ITEM_ID
                        </td>-->
                        <td>
                            @item.ITEM
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <a class="btn btn-outline-info" href="NewToDoList">Back to Lists</a>
        </div>
    </div>
</div>