@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-6">Welcome Tavarish</h1>
    <p>Create your own list and become organized and successful</p>
    <img src="https://image.shutterstock.com/image-photo/homeless-russian-people-park-russia-600w-664511770.jpg" alt="Aristocracy" />
</div>
